.dashBanner {
    height: 580px;
    width: 100vw;
    position: relative;
    padding: 0 5%;
    box-sizing: border-box;
    color: white;
    text-align: right;
    padding-bottom: 60px;
    margin-bottom: 20px;
}

.dashBanner .dashContainer {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.dashBanner .rollingLogo {
    margin-left: 100px;
    padding-top: 30px;
}

.dashBanner .coverImg {
    width: 900px;
    margin-top: -180px;
}

@media screen and (max-width: 1200px) {
    .dashBanner .coverImg {
        margin-top: -120px;
        width: 800px;
    }
    .dashBanner .rollingLogo {
        margin-left: 5vw;
        padding-top: 3vw;
    }
}

@media screen and (max-width: 900px) {
    .dashBanner .rollingLogo {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .dashBanner {
        height: calc(60vw + 100px);
    }

    .dashBanner .coverImg {
        max-width: 900px;
        margin-top: -10vw;
        width: calc(100vw - 50px);
    }
}
