
.recipeTable {
    padding: 5%;
}

.recipeGridTile{
    padding: 10px !important;
}

html, body, #app, #app>div {
    height: 100%
}

.recipeTile{
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.recipeTile > p {
    display: inline-block;
    width: calc(100% - 48px);
}

.recipeTile > .favButton {
    display: inline-block;
    vertical-align: top;
}

a{
    text-decoration: none;
    color: inherit;
}

#statusbar{ 
    background: red; 
    width:100%; 
    position: fixed; 
    top:0; 
    opacity: 0.95; 
    z-index: 1030;
}

.navbar {
    margin-top: 15pt;
}

.sideBar {
    width: 250px;
    color: #FFFFFF !important;
    background-color: #272727;
    height: 100%;
}

.whiteText {
    color: #FFFFFF !important;
}

.null {
    color: unset
}

.noneSavedMessage{
    text-align: center;
    color: grey;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    min-width: 300px;
}

.loginModal{
    position: 'absolute';
    width: 50%;
    min-width: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    outline: none;
}