

.recipeTable {
    padding: 5%;
}


.recipeGridTile{
    padding: 10px !important;
}

html, body, #app, #app>div {
    height: 100%
}

.recipeTile{
    padding: 10px;
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}