.close {
    float: right;
}

.recipeTile{
    padding: 10px;
    min-width: 600px;
    padding-left: 30px;
}

ul{
    list-style: none;
}

ul > li{
    margin-bottom: 10px;
}

.tagButton{
    margin-right: 10px !important;
}