.close {
  float: right;
}

.saveButton {
  float: right;
  margin-left: 10px !important;
  margin-bottom: 15px !important;
}

.openRecipeTile {
  padding: 10px;
  padding-left: 20px;
  width: calc(100% - 20px);
  padding-right: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

ul {
  list-style: none;
  padding-left: 5px;
}

ul > li {
  margin-bottom: 10px;
}

.tagButton {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}

.tagIcon {
  margin-right: 5px;
}

.recipeTitle {
  font-family: "Chivo", sans-serif;
  font-size: 26pt;
  margin-top: 10px;
  color: #f44336;
}

.stepField {
  width: calc(100% - 50px);
  margin-bottom: 20px !important;
}

.ingredientField {
  width: 90%;
  max-width: 400px;
  margin-bottom: 10px;
}

.activeStar {
  color: #f44336;
}

.star {
  color: #666;
}
