.stepText {
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    padding-top: 2%;
    height: 300px;
    font-size: 14pt;
    overflow-y: scroll;
    display: table;
}

.stepText > * {
    display: table-cell;
    vertical-align: middle;
}

.carousel {
    margin-top: 1vh;
    height: 70%;
    margin-bottom: 20px;
    overflow-y: scroll !important;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.stepContainer {
    height: 100%;
}

.controlPanel {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    padding: 0px 70px;
}

.nextButton {
    float: right;
}
