.searchicon {
    color: #FFFFFF !important;
    float: right;
}

.searchField{
    background-color: #d43c31;
    padding: 5px;
    border-radius: 5px;
    width: 289px;
    padding-left: 15px;
}

.searchResultsMenu{
    right: -149px;
    margin-top: 3px;
    float: right;
    width: 298px;
    will-change: transform;
    max-height: 417px;
    overflow-y: scroll;
}

.subText{
    color: grey;
    margin-left: 15px;
    font-size: 11pt;
}


@media only screen and (max-width: 500px){
    .searchWrapper{
        position: absolute;
        
    }

    .searchField{
        position: absolute !important;
        width: 94%;
        z-index: 1023;
        left: 3%;
        top: 7px;
    }

    .searchResultsMenu {
        margin-top: 24px;
        width: 94vw;
        will-change: transform;
        max-height: 417px;
        overflow-y: scroll;
        margin-left: -91vw;
    }
}