.searchicon {
    color: rgba(0,0,0,0.3);
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 6px;
}

.searchBar {
    background-color: #d43c31;
    padding: 5px;
    border-radius: 5px;
}

.searchField{
    width: 140px;
    transition: width .20s ease-in-out;
}

.MuiInput-focused-77{
    width: 210px;
    transition: width .20s ease-in-out;
}

.searchResultsMenu{
    position: absolute;
    transform: translate3d(75px, 5px, 0px);
    right: -123px;
    float: right;
    width: 300px;
    will-change: transform;
}