.searchicon {
  color: #ffffff !important;
  float: right;
}

.searchWrapper {
  width: calc(100% - 200px);
  display: inline-block;
  max-width: 500px;
  margin-top: 12px;
  margin-left: 30px;
  vertical-align: top;
}

.searchField {
  background-color: #ffffff;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  padding-left: 15px;
}

.searchFieldInactive {
  background-color: #d63328;
  color: rgba(0, 0, 0, 0.6) !important;
}

.searchResultsMenu {
  margin-top: -4px;
  z-index: -1;
  width: inherit;
  max-width: inherit;
  max-height: 417px;
  overflow-y: scroll;
  position: absolute;
}

.subText {
  color: grey;
  margin-left: 15px;
  font-size: 12pt;
  outline: none;
  margin-bottom: 30px;
}

.popularRecipesTitle {
  color: #222;
  margin: 10px 0 5px 15px;
  font-size: 14pt;
  font-weight: bold;
  outline: none;
}

@media only screen and (max-width: 550px) {
  .searchFieldInactive {
    background: none;
    color: white;
    width: 0px !important;
    left: unset !important;
    right: 50px;
  }

  .searchFieldInactive .searchIcon {
    color: white !important;
  }
  .searchField {
    position: absolute !important;
    width: 94%;
    z-index: 1023;
    left: 3%;
    /* top: 65px; */
  }

  .searchResultsMenu {
    /* margin-top: 88px; */
    width: 94vw;
    left: 3vw;
  }
}
