@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Chivo');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eeeeee
}
